.wrapper {
    min-height: 100svh;
    position: relative;
    background-image: url("../components/asset/main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100svh - 100px);

        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: min(95%, 1000px);

            .destination {
                display: flex;
                flex-direction: column;
                height: 70%;
                
                .section {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 8rem;
                    height: 100%;

                    img {
                        width: 40%;
                        aspect-ratio: 1 / 1;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }
    }
}