.crew {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    @media (max-width: 800px) {
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-family: var(--font-heading);
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 0;
        font-size: 1.5rem;

        @media (max-width: 800px) {
            font-size: 1.2rem;
            margin-bottom: 30px;
        }

        span {
            color: grey;
            margin-right: 20px;
            font-weight: 100;
        }
    }

    
}